/* informasi.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #972222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-logo {
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-logo img {
    height: 50px;
    margin-right: 10px;
}

.header-logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 15px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.user-icon {
    height: 18px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 5px;
    z-index: 1;
}

.dropdown-menu li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.dropdown-menu li a {
    color: #972222;
    text-decoration: none;
}

.dropdown-menu li:hover {
    background-color: #f4f4f4;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

main {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.informasi-section h2 {
    text-align: center;
}

.informasi-section h2 {
    color: #d32f2f;
    margin-bottom: 20px;
}

.informasi-section h3 {
    text-align: center;
}

.informasi-section h3 {
    color: #d32f2f;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tablink {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.tablink:hover {
    background-color: #b71c1c;
}

.tablink.active {
    background-color: #b71c1c;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.tabcontent h3 {
    color: #d32f2f;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card ul li {
    margin-bottom: 15px;
    font-size: 16px;
}

.card ul li strong {
    color: #d32f2f;
}

.card ul li ol, .card ul li ul {
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #972222;
    color: white;
}

footer a{
    color: white;
}

.social-media {
    margin: 10px;
}

.social-media a {
    margin-right: 15px;
}

.social-media img {
    height: 25px;
}
