body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #972222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-logo {
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-logo img {
    height: 50px;
    margin-right: 10px;
}

.header-logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 15px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.user-icon {
    height: 18px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 5px;
    z-index: 1;
}

.dropdown-menu li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.dropdown-menu li a {
    color: #972222;
    text-decoration: none;
}

.dropdown-menu li:hover {
    background-color: #f4f4f4;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.voting-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px;
}

.election-card {
    width: 48%;
    background-color: #972222;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.election-card:hover {
    transform: translateY(-5px);
}

.election-image img {
    width: 100%;
    height: auto;
    display: block;
}

.election-content {
    padding: 20px;
}

.election-content p {
    font-size: 16px;
    text-align: center;
    color: #f4f4f4;
    margin-bottom: 20px;
}

.vote-btn {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.vote-btn:hover {
    background-color: #fafafa;
    color: #972222;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fff;
    margin: 10% auto;
    margin-top: 35px;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 900px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    color: #333;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #007BFF;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.notification-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: flex;
}

.notification-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    text-align: center;
    width: 300px;
}

#agreementModal {
    display: none;
}

.notification-icon {
    margin: 20px auto;
    height: 50px;
    color: #D9534F;
}

.error .icon-exclamation {
    fill: #D9534F;
    height: 70px;
}

.notification-close {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.notification-content h4 {
    color: #D9534F;
}

.notification-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.notification-content button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.notification-content button:hover {
    opacity: 0.8;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #972222;
    color: white;
}

footer a{
    color: white;
}

.social-media {
    margin: 10px;
}

.social-media a {
    margin-right: 15px;
}

.social-media img {
    height: 25px;
}

